
.photo_size {
border-image: 1em;
max-height: 20em;
max-width: 20em;
border: 0.1em solid black;
border-radius: 0.5em;

}

.text_width {
border: 0.1em solid black;
max-width: 55%;

font-size: 1em;

}

html {
	font-family: verdana;
}